/* custom css and js files included at the top level of your presentation will
 * will be included in your presentation */

.big-spacing p {
  word-spacing: 20px;
}

.slide{
  background: #444;
  color: #E7B20A;
}

.bullets > ul > li{
  color: #FAFAFA;
}

.highlight-rb.bullets > ul > li:nth-child(2){
  color: #FA7455;
}

.small-list > ul  {
  padding: 0;
  margin: -50px 0 0 0;
}

.small-list > ul > li {
  font-size: 24px;
  display: inline-block;
  margin-left: 30px;
}

.small-header h1{
  margin-top: -10px;
}